<%
  def search_page?
    controller.controller_name == "search"
  end
%>

<div id="facet_template_actions"><!--
  <a href="#" class="facet-toggle"><span class="more-facets">More ${facetType} <span class="glyphicon glyphicon-plus"></span></span><span class="fewer-facets">Fewer ${facetType} <span class="glyphicon glyphicon-minus"></span></span></a>
--></div>